.global-messaging {
    display: none;
    width: 100%;
    text-align: center;
    height: 60px;
    position: absolute;
    z-index: 1200;
    background-color: $green-tint;
}

ul.messenger {
    left: 0%;
    width: 100%;
    position: fixed;
    z-index: 1200;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    .messenger-message-inner {
        text-align: center;
        line-height: 60px;
        height: 60px;
        color: $white;
        font: {
            size: 14px;
            weight: 500;
        }
    }

    button.messenger-close {
        color: $white;
        background: none;
        float: right;
        height: 60px;
        border-bottom: 0;

        &:hover {
            background: none;
            border-bottom: 0;
        }
    }

    .alert-success {
        background: $green;
        border-bottom: solid 1px hover-state-darken($green);
    }

    .alert-error {
        background: $red;
        border-bottom: solid 1px hover-state-darken($red);
    }

    .alert-info {
        background: $blue;
        border-bottom: solid 1px hover-state-darken($blue);
    }

    .alert-warning {
        background: $orange;
        border-bottom: solid 1px hover-state-darken($orange);
    }

    button {
        &:hover {
            background: none;
            color: hover-state-darken($white);
        }
    }
}
