%alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0;
    text-align: center;
}

.alert-success {
    @extend %alert;
    background-color: $green-tint;
    color: $green;
}

.alert-info {
    @extend %alert;
    background-color: $turquoise-tint;
    color: $turquoise;
}

.alert-warning {
    @extend %alert;
    background-color: $gold-tint;
    color: $gold;
}

.alert-danger {
    @extend %alert;
    background-color: $orange-tint;
    color: $orange;
}
