@import "modules/transition-effects";

.checkbox.inline {
    display: inline-block;

    + .checkbox.inline {
        margin-left: 20px;
    }
}

.checkbox {
    position: relative;

    + .checkbox:not(.inline) {
        margin-top: 10px;
    }

    [type=checkbox] {
        display: none;
    }
}

.checkbox-normal [type="checkbox"] {
    + span {
        position: relative;
        padding-left: 30px;
        padding-top: 2px;
        display: inline-block;
    }

    + span:before {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 0;
        left: 0;
        background: $white;
        cursor: pointer;
        border: 2px solid $cloudy2;
        content: '';
    }

    + span:after {
        color: $white;
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        width: 22px;
        height: 22px;
        top: 0;
        left: 0;
        opacity: 0;
        font-family: knewcons;
        content: '\e006';
        cursor: pointer;
        text-align: center;
        line-height: 22px;
    }

    &:not(:disabled) + span:hover:after {
        color: $cloudy1;
        opacity: 1;
    }

    &:checked {
        + span:before {
            @include transition-active(.1s);
            background: $blue;
            border: 2px solid $blue;
        }


        + span:after {
            @include transition-active(.1s);
            opacity: 1;
        }
    }

    &:disabled {
        + span:before {
            background: $background-foggy;
            border: 2px solid $rainy1;
            cursor: default;
        }

        + span:after {
            color: $white;
            cursor: default;
        }
    }

    &:disabled:checked {
        + span:before {
            background: $rainy1;
        }
    }
}

.checkbox-tag {
    display: inline-block;

    + .checkbox-tag {
        margin-left: 10px;
    }

    > span {
        @include action-link-font;
        color: $stormy1;
        opacity: 1;
        height: 34px;
        background: $background-foggy;
        display: inline-block;
        line-height: 34px;
        padding: 0 20px;
        cursor: default;
        text: {
            align: center;
            transform: none;
            decoration: none;
        }
    }

    [type=checkbox]:enabled {
        + span {
            cursor: pointer;
        }

        + span:hover {
            background: $stormy1;
            color: $white;
        }
    }

    [type=checkbox]:checked {
        opacity: 0;
        outline: 0;

        + span {
            @include transition-active(.1s);

            background: $rainy2;
            color: $white;
            opacity: 1;
        }
    }

    [type=checkbox]:disabled + span {
        color: $rainy1;
    }
}
