@import "modules/transition-effects";

.checkbox.inline {
    display: inline-block;

    + .checkbox.inline {
        margin-left: 20px;
    }
}

.checkbox {
    position: relative;

    + .checkbox:not(.inline) {
        margin-top: 10px;
    }

    [type=checkbox] {
        display: none;
    }
}

.checkbox-normal [type="checkbox"] {
    + span {
        position: relative;
        padding-left: 30px;
        padding-top: 4px;
        display: inline-block;
    }

    + span:before {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        background: $white;
        cursor: pointer;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 3px solid $ashen-grey;
        content: '';
    }

    + span:after {
        color: $white;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        opacity: 0;
        font-family: knewcons;
        content: '\e006';
        cursor: pointer;
        text-align: center;
        line-height: 24px;
    }

    &:not(:disabled) + span:hover:after {
        color: $background-grey;
        opacity: 1;
    }

    &:checked {
        + span:before {
            @include transition-active(.1s);
            background: $green-success;
            border: 3px solid $green-success;
        }


        + span:after {
            @include transition-active(.1s);
            opacity: 1;
        }
    }

    &:disabled {
        + span:before {
            background: $background-grey;
            border: 3px solid $ashen-grey;
            cursor: default;
        }

        + span:after {
            color: $ashen-grey;
            cursor: default;
        }
    }
}

.checkbox-tag {
    display: inline-block;

    + .checkbox-tag {
        margin-left: 10px;
    }

    > span {
        @include action-link-font;
        color: $black-enough;
        opacity: 1;
        height: 34px;
        background: $background-grey;
        display: inline-block;
        line-height: 34px;
        padding: 0 20px;
        cursor: default;
        text: {
            align: center;
            transform: none;
            decoration: none;
        }
    }

    [type=checkbox]:enabled {
        + span {
            cursor: pointer;
        }

        + span:hover {
            background: $black-enough;
            color: $white;
        }
    }

    [type=checkbox]:checked {
        opacity: 0;
        outline: 0;

        + span {
            @include transition-active(.1s);

            background: $default;
            color: $white;
            opacity: 1;
        }
    }

    [type=checkbox]:disabled + span {
        color: $ashen-grey;
    }
}
