@import "modules/transition-effects";

[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    background: $white;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 10px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 3px solid $ashen-grey;
}

.checkbox label {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    cursor: pointer;
}

/* Here's the tick when invisible, hovering and checked */

.checkbox label:before {
    opacity: 0;
    content: '';
    position: absolute;
    background: transparent;
}

.checkbox label:after {
    position: absolute;
    background: none;
    width: 11px;
    height: 8px;
    top: 0;
    left: 0;
    opacity: 0;
    content: '';
    border: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after {
    background: none;
    border: 3px solid $ashen-grey;
    border-top: 0;
    border-right: 0;    
    opacity: 0.3;
}

.checkbox [type=checkbox]:checked {
    opacity: 0;
    outline: 0;

    + label:before {
        @include transition-active(.1s);

        background: #4ea565;
        width: 24px;
        height: 24px;
        opacity: 1;
        top: -7px;
        left: -7px;

        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 3px solid #4ea565;
    }


    + label:after {
        @include transition-active(.1s);

        border: 3px solid $white;
        border-top: 0;
        border-right: 0;
        opacity: 1;
    }
}
