
.container-wrapper {
    .container-header {
        padding: 12px 20px;
    }

    .container-content {
        padding: 20px;
    }

    .container-header {
        font-weight: bold;
        color: $white;
    }

    &.green {
        .container-header {
            background-color: $green;
        }

        .container-content {
            background-color: $green-tint;
        }
    }

    &.orange {
        .container-header {
            background-color: $orange;
        }

        .container-content {
            background-color: $orange-tint;
        }
    }
}
