// scss-lint:disable NestingDepth

.dropdown-input {
    position: relative;
    background: $white;
    margin-bottom: 5px;

    select {
        width: 100%;
        background: $white;
        border: 1px solid $cloudy2;
        appearance: none;
        font-size: $normal;
        color: $stormy1;
        padding: 10px;
        line-height: normal;
        outline-width: 1px;
        outline-color: $blue;
    }

    &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 8px;
        top: 15px;
        right: 18px;
        background: url("../images/dropdown-arrow.png") no-repeat;
        z-index: 2;
    }
}
