// FROM SCRATCH

input,
.input-text,
.thick-input {
    @include fill-parent;
    @include input-font;

    padding: 0 .5rem;
    border: 1px solid $border-grey;

    &.disabled {
        color: $border-grey;
        background: $background-grey;
        border: 0;
        cursor: not-allowed;
        box-shadow: none;
    }

    &:focus {
        outline: none;
        border: 1px solid $turquoise;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}

.input-text {
    position: relative;

    // Pencil icon
    &:not(:focus):after {
        content: "\e012";
        position: absolute;
        font-family: knewcons;
        color: $ashen-grey;
        right: 0;
        padding: 0 .5rem;
    }

    // Placeholder
    &:empty:not(:focus):before {
        content: attr(data-placeholder);
        color: $ashen-grey;
    }
}

.input-group {
    .label {
        @include input-label-font;
    }

    &.date {
        @include input-font;        
        position: relative;
        display: table;
        border-collapse: separate;
    }

    .form-control {
        @include input-font;
        background-color: $white;
        background-image: none;
        color: $grey-on-grey;
        
        border: 1px solid $border-grey;
        border-right: 0;
        border-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        
        width: 100%;
        height: 34px;
        
        margin-bottom: 0;
        padding: 6px 12px;

        vertical-align: middle;

        box-shadow: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        display: table-cell;
    }

    .input-group-addon {
        @include input-font;        
        text-align: center;
        width: 1%;
        white-space: nowrap;

        padding: 2px 12px 1px 8px;

        line-height: 1;
        color: $grey-on-grey;

        border: 1px solid $border-grey;
        border-left: 0;
        border-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        vertical-align: middle;
        display: table-cell;
    }

    .input-group-addon .icon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        cursor: pointer;
        width: 16px;
        height: 16px;

        &:before {
            font-size: 24px;
        }
    }
}

.field-block {
    margin-bottom: 20px;

    label {
        @include input-label-font;
        margin-top: 0;
        line-height: 1.3em;
    }
}

