// FROM SCRATCH

[type=text],
[type=email],
[type=password],
[type=date],
.input-text,
.thick-input {
    @include fill-parent;

    transition: border-color .5s;

    background: #fff;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0 .5rem;
    border: 1px solid #d0d0d0;

    &.error {
        border-color: #f00;
        color: #f00;

        &:focus {
            border-color: #f00;
        }
    }

    &.success {
        border-color: #86d886;
        color: #008000;

        &:focus {
            border-color: #86d886;
        }
    }

    &:focus {
        outline: none;
        border: 1px solid $turquoise;
    }
}

.input-text {
    position: relative;

    @mixin icon {
        position: absolute;
        font-family: knewcons;
        top: 0;
        right: 0;
        padding: 0 .5rem;
    }

    &.success:after,
    &.success:not(:focus):after {
        @include icon;
        content: "\e006";
        color: #86d886;
    }

    &.error:after,
    &.error:not(:focus):after {
        @include icon;
        content: "\e005";
        color: #f00;
    }

    &.loading:after,
    &.loading:not(:focus):after {
        @include icon;
        content: "loading";
        color: #a9a9a9;
    }

    // Pencil icon
    &:not(:focus):after {
        @include icon;
        content: "\e012";
        color: #a9a9a9;
    }

    // Placeholder
    &:empty:not(:focus):before {
        content: attr(data-placeholder);
        color: #a9a9a9;
    }
}

.di-menu {
    button {
        height: 2rem;
        width: 2rem;
        border: 0;
        font-size: .9rem;
        padding: 0;
        margin: 0;

        &.button + .button {
            margin-left: 0;
        }
    }
}

.input-group {
    .label {
        @include input-label-font;
    }

    &.date {
        @include input-font;
        position: relative;
        display: table;
        border-collapse: separate;
    }

    .form-control {
        @include input-font;
        background-color: $white;
        background-image: none;
        color: $grey-on-grey;

        border: 1px solid $border-grey;
        border-right: 0;
        border-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        width: 100%;
        height: 34px;

        margin-bottom: 0;
        padding: 6px 12px;

        vertical-align: middle;

        box-shadow: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        display: table-cell;
    }

    .input-group-addon {
        @include input-font;
        text-align: center;
        width: 1%;
        white-space: nowrap;

        padding: 2px 12px 1px 8px;

        line-height: 1;
        color: $grey-on-grey;

        border: 1px solid $border-grey;
        border-left: 0;
        border-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        vertical-align: middle;
        display: table-cell;
    }

    .input-group-addon .icon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        cursor: pointer;
        width: 16px;
        height: 16px;

        &:before {
            font-size: 24px;
        }
    }
}

.field-block {
    margin-bottom: 20px;

    label {
        @include input-label-font;
        margin-top: 0;
        line-height: 1.3em;
    }
}

