[type=text],
[type=email],
[type=password],
[type=date],
.input-text,
.thick-input {
    @include fill-parent;

    transition: border-color .5s;

    background: $white;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0 .5rem;
    border: 1px solid $border-grey;

    &.error {
        border-color: $red;
        color: $red;

        &:focus {
            border-color: $red;
        }
    }

    &.success {
        border-color: $green-success;
        color: $green-success;

        &:focus {
            border-color: $green-success;
        }
    }

    &.disabled {
        background: $background-grey;
        border-color: $background-grey;
        color: $ashen-grey;
    }

    &:focus {
        outline: none;
        border: 1px solid $turquoise;
    }
}

.input-text {
    position: relative;

    @mixin icon {
        position: absolute;
        font-family: knewcons;
        top: 0;
        right: 0;
        padding: 0 .5rem;
    }

    &.success:after,
    &.success:not(:focus):after {
        @include icon;
        content: "\e006";
        color: $green-success;
    }

    &.error:after,
    &.error:not(:focus):after {
        @include icon;
        content: "\e005";
        color: $red;
    }

    &.loading:after,
    &.loading:not(:focus):after {
        @include icon;
        content: "loading";
        color: $ashen-grey;
    }

    // Pencil icon
    &:not(:focus):after {
        @include icon;
        content: "\e012";
        color: $ashen-grey;
    }

    // Placeholder
    &:empty:not(:focus):before {
        content: attr(data-placeholder);
        color: $ashen-grey;
    }
}

.di-menu {
    button {
        height: 2rem;
        width: 2rem;
        border: 0;
        font-size: .9rem;
        padding: 0;
        margin: 0;

        &.button + .button {
            margin-left: 0;
        }
    }
}

.input-date {
    @include input-font;
    position: relative;
    border-collapse: separate;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;

    &:not(:focus):before {
        position: absolute;
        font-family: "knewcons";
        content: "\e00d";
        right: .5rem;
    }

    input {
        border-radius: 0;
        box-shadow: none;

        &:focus {
            border-radius: 0;
            box-shadow: none;
            outline: none;
            border: 1px solid $turquoise;
        }
    }
}



.field-block {
    margin-bottom: 20px;

    label {
        @include input-label-font;
        margin-top: 0;
        line-height: 1.3em;
    }
}

// Validation errors
// scss-lint:disable QualifyingElement
label.error {
    font-size: .8rem;
    color: $error-color;
}

// Add this on the form if you want errors to show in a tooltip
.error-tooltip {
    position: relative;

    label.error {
        $height: 5px;
        $width: 10px;

        position: absolute;
        z-index: 2000;
        height: 1.2rem;
        background: $error-color;
        padding: .2rem;
        color: $white;
        margin-bottom: -1.1rem;
        left: 0.3rem;
        box-shadow: rgba(0, 0, 0, 0.38) 0 2px 0;

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $width/2 $height;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $error-color;
            content: "";
            position: absolute;
            top: 0;
            margin-top: -$height;
            left: 12px;
        }
    }
}

// scss-lint:enable QualifyingElement


