// scss-lint:disable QualifyingElement

.helper-icon-gray {
    display: inline-block;
    background: $ashen-grey;
    width: rem(14);
    height: rem(14);
    color: $white;
    font-size: rem(10);
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-left: rem(4);
    cursor: default;

    &:after {
        content: '?';
        line-height: rem(16);
    }
}

.helper-icon-gray.clickable,
a.helper-icon-gray {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}
