// scss-lint:disable QualifyingElement

.helper-icon-gray {
    display: inline-block;
    background: $rainy1;
    width: 14px;
    height: 14px;
    color: $white;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 4px;
    cursor: default;
    line-height: 16px;

    &:after {
        content: '?';
    }
}

.helper-icon-gray.clickable,
a.helper-icon-gray {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}
