.kn-label {
    font: {
        family: $roboto-font-stack;
        size: $extra-small;
        weight: 500;
    }
    display: inline-block;
    background: $yellow;
    border-radius: $radius;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    text-align: center;
    color: $stormy1;
}
