
%spinner,
.spinner {
    overflow: hidden;
    position: relative;

   &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        display: block;
        z-index: 2000;
    }

    &:after {
        content: "";
        width: 80px;
        height: 80px;
        background-image: url("../images/atom-logo.png");
        background-repeat: no-repeat;
        background-size: 77px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: rgb(27, 172, 182);
        z-index: 2010;
        animation: flipLogo 1.5s infinite linear;
    }
}

.loading:not(button):not(.button):not(a) {
    @extend %spinner;

    &:before {
        background-color: rgba(255, 255, 255, 0.80);
    }
}

@keyframes flipLogo {
    0%,
    30%,
    100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    15% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}
