@import "modules/base";
@import "modules/transition-effects";

.page-controls {
    border: 0 dashed $cloudy2;
    border-width: 1px 0;
    text-align: center;
    height: 34px;
    padding: 0 12px;

    a {
        &.view-page {
            @include std-link-font;
            width: 21px;
            height: 18px;
            text-align: center;
            display: inline-block;
            margin: 8px 1.5px 0;
            text-decoration: none;
            color: $rainy1;
        }

        &.view-page:hover {
            @include transition-color(.4s);

            color: $blue;
        }

        &.view-page.active {
            color: $white;
            background: $stormy1;
        }
    }

    a {
        &.pager {
            @include transition-opacity(.2s);
            line-height: 34px;
            font-weight: 300;
            font-size: 14px;
            display: block;
            text-decoration: none;
            color: $blue;
        }

        &.prev { float: left; }

        &.next { float: right; }

        &:hover {
            text-decoration: underline;
        }
    }
}
