@import "modules/transition-effects";

.radio.inline {
  display: inline-block;

  + .radio.inline {
    margin-left: 10px;
  }
}

.radio {
  color: $border-grey;
  position: relative;

  + .radio:not(.inline) {
    margin-top: 10px;
  }

  > span {
    @include standard-body-font;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      border: 3px solid $ashen-grey;
      position: absolute;
      left: 0;
      top: 1px;
      padding-top: 0;

      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;

      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
    }

    &:after {
      cursor: pointer;
    }
  }

  [type="radio"] {
    display: none;

    &:checked + span:before {
      @include transition-active(.1s);
      border-color: $green-success;
    }

    &:checked + span:after {
      @include transition-active(.1s);
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      background: $green-success;
      left: 5px;
      top: 6px;
      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
    }

    &:disabled + span:before {
      background: $background-grey;
      border-color: $ashen-grey;
      cursor: default;
    }

    &:disabled + span:after {
      background: $ashen-grey;
      cursor: default;
    }

    &:disabled + span {
      color: $ashen-grey;
    }
  }
}
