@import "modules/transition-effects";

.radio.inline {
  display: inline-block;

  + .radio.inline {
    margin-left: 10px;
  }

  > span {
    display: inline-block;
  }
}

.radio {
  color: $cloudy2;
  position: relative;

  + .radio:not(.inline) {
    margin-top: 10px;
  }

  > span {
    @include standard-body-font;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    display: block;

    &:before {
      content: '';
      width: 22px;
      height: 22px;
      border: 2px solid $cloudy2;
      position: absolute;
      left: 0;
      top: 2px;
      padding-top: 0;

      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;

      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
    }

    &:after {
      cursor: pointer;
    }
  }

  [type="radio"] {
    display: none;

    &:checked + span:before {
      @include transition-active(.1s);
    }

    &:checked + span:after {
      @include transition-active(.1s);
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background: $blue;
      left: 7px;
      top: 9px;
      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
    }

    &:disabled + span:before {
      background: $background-grey;
      cursor: default;
    }

    &:disabled + span:after {
      background: $ashen-grey;
      cursor: default;
    }

    &:disabled + span {
      color: $ashen-grey;
    }
  }
}
