@import "modules/transition-effects";
@import "modules/base";

.button {
    @include action-link-font;
    display: inline-block;
    border: 3px solid $light-turquoise;
    background: $light-turquoise;    
    color: #fff;
    cursor: pointer;
    width: 175px;
    /*padding: 5px 0;*/

    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }

    &:hover {
        text-decoration: none !important;
    }

    &:hover:not(.disabled) {
        @include transition-active(.1s);
        color: #fff;
        background: $hard-turquoise;
        border: 3px solid $hard-turquoise;
    }

    &.long {
        width: 190px;
        height: 35px;
    }

    &.medium {
        width: 140px;
        height: 35px;
    }

    &.short {
        width: 90px;
        height: 25px;   
    }

    &.big-button {
        width: 220px;
        border-width: 3px;
        font: {
            size: 14px;
            weight: 900;
        }
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        margin-bottom: 10px;
        padding: 0;
    }

    &.lil-button {
        font-weight: 700;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 0.1em;
        padding: .2em 1em;
        width: 70px;        
    }

    &.disabled,
    &:disabled {
        color: #ccc;
        background: $background-grey;
        border: 3px solid $background-grey;
        cursor: not-allowed;
    }

    + .button {
        margin-left: 10px;
    }

    &.white-button {
        border: 3px solid $medium-turquoise;
        padding: 0;
        color: $medium-turquoise;
        background: #fff;

        &:hover:not(.disabled) {
            @include transition-active(.1s);
            color: #fff;
            background: $medium-turquoise;
            border-color: $medium-turquoise;
        }

        &.short {
            border: 1px solid $medium-turquoise;
        }
    }

    &.group {
        border: 1px solid $medium-turquoise;
        padding: 0;
        color: $medium-turquoise;
        background: #fff;
        border-left: 0;
        margin: 0;
        font-weight: 700;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 0.1em;        

        &:hover:not(.disabled) {
            @include transition-active(.1s);
            color: #fff;
            background: $medium-turquoise;
            border: 1px solid $hard-turquoise;
        }

        + &.group {
            border-left: 1px;
        }
    }

}
