@import "modules/transition-effects";
@import "modules/base";

%button {
    @include action-link-font;
    display: inline-block;
    border: 3px solid $turquoise;
    background: $turquoise;    
    color: #fff;
    cursor: pointer;
    width: 175px;
    margin: 0 5px;
    /*padding: 5px 0;*/

    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }

    &:hover {
        text-decoration: none !important;
    }

    &:hover:not(.disabled) {
        @include transition-active(.1s);
        color: #fff;
        background: $dark-turquoise;
        border: 3px solid $dark-turquoise;
    }

    &.white-button {
        border: 3px solid $turquoise;
        padding: 0;
        color: $turquoise;
        background: #fff;

        &:hover:not(.disabled) {
            @include transition-active(.1s);
            color: #fff;
            background: $dark-turquoise;
            border-color: $dark-turquoise;
        }

        &.short {
            border: 1px solid $turquoise;
        }
    }

    + .button {
        margin-left: 10px;
    }

    &.disabled,
    &:disabled {
        color: $border-grey;
        background: $background-grey;
        border: 3px solid $background-grey;
        cursor: not-allowed;
    }
}


.long {
    @extend %button;
    width: 190px;
    height: 35px;
}

.medium {
    @extend %button;
    width: 140px;
    height: 35px;
}

.short {
    @extend %button;
    width: 90px;
    height: 25px;   
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 0.1em;
    padding: .2em 1em;
}

.mini {
    @extend %button;
    width: 35px;
    height: 35px;
}

button {
    &.group {
        @extend %button;
        border: 1px solid $turquoise;
        padding: 0;
        color: $turquoise;
        background: $white;
        margin: 0;
        font-weight: 700;
        font-size: 9px;
        line-height: 22px;
        height: 25px;
        letter-spacing: 0.1em;        

        &:hover:not(.disabled) {
            @include transition-active(.1s);
            color: $white;
            background: $dark-turquoise;
            border: 1px solid $dark-turquoise;
        }

        + button {
            border-left: 1px solid $turquoise;
            margin-left: -1px;
        }
    }
}
