@import "modules/transition-effects";
@import "modules/base";

%button,
.button,
[type=submit] {
    // excluding <button>
    min-width: 150px;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
%button,
.button,
[type=submit] {
    @include action-link-font;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    color: $white;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
    background-color: $blue;
    border-width: 0;
    border-radius: $radius;
    border-bottom: 3px solid darken($blue, 6%);
    -webkit-font-smoothing: antialiased;

    &:focus {
        outline: 0;
    }

    &:hover:not(:disabled):not(.disabled) {
        @include transition-active(.1s);
        color: $white;
        background: hover-state($blue);
    }

    &:active:not(:disabled):not(.disabled) {
        color: $white;
        background: darken($blue, 5%);
    }

    &.white-button {
        background: $white;
        color: $blue;

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            color: $white;
            background: hover-state($blue);
        }

        &:active:not(:disabled):not(.disabled) {
            color: $white;
            background: darken($blue, 5%);
        }
    }

    &.rainy-button {
        background: $rainy2;
        border-bottom: 3px solid darken($rainy2, 6%);

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            background: hover-state($rainy2);
        }
    }

    &.orange-button {
        background: $orange;
        border-bottom: 3px solid darken($orange, 6%);

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            background: hover-state($orange);
        }
    }

    + button,
    + .button {
        margin-left: 10px;
    }

    &:disabled,
    &.disabled {
        color: $cloudy2;
        background: $background-foggy;
        border-color: $background-foggy;
        cursor: default;
    }

    &.text-button-gray {
        background: transparent;
        border: 0;
        color: $rainy1;

        &:disabled {
            color: $background-foggy;
        }

        &:hover:not(:disabled):not(.disabled) {
            background: transparent;
            color: $rainy2;
        }
    }

    &.foggy-button {
        background: $background-foggy;
        border: solid 1px $rainy1;
        color: $rainy2;
        font-size: $normal;

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            background: hover-state($background-foggy);
            color: $rainy2;
        }
    }

    &.red-button {
        background: transparent;
        border: solid 1px $red;
        color: $red;

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            background: $red;
            color: $white;
        }
    }

    &.large {
        font-size: $large;
        height: 50px;
        line-height: 50px;
    }
}

/**
 * TODO (3/9/2015): Deprecate long, medium and short
 */

.long {
    @extend %button;
    width: 190px;
}

.medium {
    @extend %button;
    width: 140px;
}

.short {
    @extend %button;
    width: 90px;
    font-size: $small;
    height: 25px;
    line-height: 25px;
    letter-spacing: 0.1em;

    &.white-button {
        border: 1px solid $blue;

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            border-color: hover-state($blue);
        }
    }
}

.mini {
    @extend %button;
    width: 35px;
    height: 35px;
    padding: 0;
}

button {
    &.group {
        @extend %button;
        background: $white;
        color: $blue;
        border: 1px solid $blue;

        min-width: 140px;
        height: 25px;
        padding: 0;
        margin: 0;

        font-size: 9px;
        line-height: 22px;
        letter-spacing: 0.1em;

        &:hover:not(:disabled):not(.disabled) {
            @include transition-active(.1s);
            border-color: hover-state($blue);
        }

        + button {
            border-left: 1px solid $blue;
            margin-left: -1px;
        }
    }
}

button.x-rounded {
    height: 18px;
    width: 18px;
    background-color: $cloudy2;
    border: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 18px;
    font-size: 8px;
    transition: background-color 0.1s;

    &:focus,
    &:active {
        background-color: $rainy1;
    }

    &:before {
        color: $white;
        font-family: "knewcons";
        content: '\e060';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }

    &:hover {
        background-color: $blue;
    }
}
