.switch-button {
    @include action-link-font;

    color: #fff;
    cursor: pointer;
    width: 90px;
    height: 35px;
    line-height: 35px;
    border: 0;
    margin: 10px;
    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }    

    &.switch-on {
        background: $default;
        border: 0;
    }

    &.switch-off {
        background: $light-grey;
        color: #ccc;
    }

    &:hover {
        background: $black-enough;
        color: $white;
    }    
}
