@import "modules/transition-effects";
@import "modules/base";

table {
    @include clearfix;
    @include fill-parent;

    border-collapse: collapse;

    tr {
        height: 45px;
    }

    tr:first-child {
        td {
            border-top: 0;
        }
    }

    td {
        @include table-row-font;

        padding: 15px 50px 15px 0;
        border-top: 1px solid $border-grey;
        color: $default;

        a {
            text-decoration: none;
        }

        &.title {
            color: $black-enough;
            font-weight: 500;
        }        
    }

}
