@import "modules/transition-effects";
@import "modules/base";

.tabs {
    @include clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid $cloudy2;

    &.unbound {
        border-bottom: 0;
    }

    li {
        margin-bottom: -1px;
        float: left;
        width: 112px;
        border: 1px solid $cloudy2;
        text-align: center;
        position: relative;
        z-index: 5;

        + li {
            margin-left: -1px;
        }

        a {
            @include tab-font;
            color: $stormy1;
            display: block;
            height: 100%;
            width: 100%;
        }

        &:hover:not(.active):not(.solicitation-tabs) {
            @include transition-tab(.4s);
            z-index: 10;
            border-color: $blue;
        }

        &:hover:not(.active):not(.solicitation-tabs) a {
            @include transition-link(.4s);
            color: $stormy1;
        }

        &.active {
            background: $stormy1;
            border-color: $stormy1;
        }

        &.active a {
            color: $white;
        }

        &.solicitation-tabs {
            border-bottom: 0;
        }
    }
}
