@import "modules/transition-effects";
@import "modules/base";

.kn-table {
    @include clearfix;
    @include fill-parent;

    border-collapse: collapse;

    tr {
        height: rem(45);
    }

    tr:first-child {
        td {
            border-top: 0;
        }
    }

    td {
        @include table-row-font;

        padding: rem(15) rem(50) rem(15) 0;
        border-top: rem(1) solid $cloudy2;
        color: $rainy2;

        a {
            text-decoration: none;
        }

        &.title {
            color: $stormy1;
            font-weight: 500;
        }
    }
}

.kn-stripe-table {
    @include fill-parent;
    border-collapse: collapse;

    th,
    td {
        @include table-row-font;
        height: rem(45);
        color: $stormy1;
        text-align: center;
        padding: 0 rem(15);

        &:first-child {
            text-align: left;
        }
    }

    th {
        font-weight: 700;
    }

    td {
        border-top: 1px solid $rainy1;
    }

    tr:nth-child(even) {
        background-color: $blue-tint;
    }
}
