body {
    @include standard-body-font;
    color: $grey-on-grey;
    background: $background-grey;
}

h1 {
    @include headline-font;
}

h2 {
    @include subhead-font;
    margin-top: 0;
    line-height: 1.3em;
}

h3 {
    @include subhead-font;
    @include clearfix;

    margin: 0;
    border-bottom: 1px solid $ashen-grey;
    padding-bottom: rem(10);

    .action {
        @include action-link-font;
        float: right;
    }

    &.breathe {
        padding: rem(20) 0;
        margin-bottom: rem(20);
    }
}

h4 {
    @include head4-font;
    line-height: rem(27);
}

.link,
a {
    color: $turquoise;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link {
        &.action {
            @include action-link-font;
            color: $turquoise;
        }

        &.disabled {
            color: $ashen-grey;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    &.standard {
        color: $turquoise;
        text-decoration: none;
    }

    &:hover.standard {
        text-decoration: underline;
    }
}

.input-label {
    @include input-label-font;
}
