body {
    @include standard-body-font;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    // To be designed
}

h2 {
    font: {
        size: 32px;
        weight: 500;
    }
    margin-bottom: 20px;

    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        position: relative;
        top: 2px;
        margin-right: 10px;
    }
}

h3 {
    font: {
        size: 22px;
        weight: 500;
    }
}

.link,
a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link {
        &.action {
            @include action-link-font;
            color: $blue;
        }

        &.disabled {
            color: $cloudy1;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    &.standard {
        color: $blue;
        text-decoration: none;
    }

    &:hover.standard {
        text-decoration: underline;
    }
}

.input-label {
    @include input-label-font;
}
