@charset "UTF-8";
@font-face {
  font-family: "knewcons";
  src: font-url("knewcons.eot");
  src: font-url("knewcons.eot?#iefix") format("embedded-opentype"),
    font-url("knewcons.woff") format("woff"),
    font-url("knewcons.ttf") format("truetype"),
    font-url("knewcons.svg#knewcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

%knewcon {
    font-family: "knewcons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    @extend %knewcon;
    content: attr(data-icon);
}

.knewcon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    @extend %knewcon;
}

.icon-draft:before {
    content: "\e011";
}

.icon-add-content:before {
    content: "\e00f";
}

.icon-settings:before {
    content: "\e000";
}

.icon-complete:before {
    content: "\e00e";
}

.icon-past-due:before {
    content: "\e01c";
}

.icon-content-text:before {
    content: "\e012";
}

.icon-help:before {
    content: "\e001";
}

.icon-invite:before {
    content: "\e01b";
}

.icon-calendar:before {
    content: "\e002";
}

.icon-browse:before {
    content: "\e003";
}

.icon-check:before {
    content: "\e004";
}

.icon-circle-arrow:before {
    content: "\e005";
}

.icon-content-image:before {
    content: "\e006";
}

.icon-content-movie:before {
    content: "\e007";
}

.icon-learner:before {
    content: "\e009";
}

.icon-derived-topic:before {
    content: "\e00a";
}

.icon-target-hex-solid:before {
    content: "\e00b";
}

.icon-target-hex-outlined:before {
    content: "\e00c";
}

.icon-search:before {
    content: "\e00d";
}

.icon-ruler:before {
    content: "\e010";
}

.icon-preview:before {
    content: "\e013";
}

.icon-popular:before {
    content: "\e014";
}

.icon-warning:before {
    content: "\e015";
}

.icon-teach:before {
    content: "\e016";
}

.icon-target-topic:before {
    content: "\e017";
}

.icon-arrow:before {
    content: "\e018";
}

.icon-alert:before {
    content: "\e019";
}

.icon-active:before {
    content: "\e01a";
}

.icon-playback-pause:before {
    content: "\e008";
}

.icon-playback-play:before {
    content: "\e01d";
}

.icon-gear:before {
    content: "\e01e";
}

.icon-arrows-expand:before {
    content: "\e01f";
}

.icon-mute:before {
    content: "\e020";
}

.icon-unmute:before {
    content: "\e021";
}
