@charset "UTF-8";
@font-face {
  font-family: "knewcons";
  src: url("../fonts/knewcons.eot");
  src: url("../fonts/knewcons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/knewcons.woff") format("woff"),
    url("../fonts/knewcons.ttf") format("truetype"),
    url("../fonts/knewcons.svg#knewcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

%knewcon {
    font-family: "knewcons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    @extend %knewcon;
    content: attr(data-icon);
}

.knewcon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    @extend %knewcon;
}

// scss-lint:disable all
.icon-derived-topic:before {
  content: "\e007";
}

.icon-target-hex-solid:before {
  content: "\e00c";
}

.icon-target-topic:before {
  content: "\e00a";
}

.icon-arrow:before {
  content: "\e00f";
}

.icon-playback-pause:before {
  content: "\e026";
}

.icon-playback-play:before {
  content: "\e025";
}

.icon-mute:before {
  content: "\e028";
}

.icon-unmute:before {
  content: "\e027";
}

.icon-user:before {
  content: "\e002";
}

.icon-export:before {
  content: "\e00b";
}

.icon-right-open-big:before {
  content: "\e016";
}

.icon-left-open-big:before {
  content: "\e01c";
}

.icon-plus-circled:before {
  content: "\e024";
}

.icon-home:before {
  content: "\e011";
}

.icon-pencil:before {
  content: "\e012";
}

.icon-expand:before {
  content: "\e029";
}

.icon-history-current:before {
  content: "\e023";
}

.icon-history-sequence:before {
  content: "\e021";
}

.icon-history-single:before {
  content: "\e022";
}

.icon-check-thick:before {
  content: "\e006";
}

.icon-caret-right:before {
  content: "\e004";
}

.icon-learner:before {
  content: "\e019";
}

.icon-trash:before {
  content: "\e009";
}

.icon-trash-solid:before {
  content: "\e0015";
}

.icon-activity:before {
  content: "\e180";
}

.icon-alert-solid:before {
  content: "\e170";
}

.icon-arrow-circle:before {
  content: "\e018";
}

.icon-browse:before {
  content: "\e017";
}

.icon-calendar:before {
  content: "\e00d";
}

.icon-close-small:before {
  content: "\e060";
}

.icon-complete-solid:before {
  content: "\e008";
}

.icon-ruler:before {
  content: "\e100";
}

.icon-preview-solid:before {
  content: "\e120";
}

.icon-popular-solid:before {
  content: "\e052";
}

.icon-invite:before {
  content: "\e02b";
}

.icon-invite-solid:before {
  content: "\e015";
}

.icon-draft:before {
  content: "\e001";
}

.icon-create-content:before {
  content: "\e0a1";
}

.icon-content-video:before {
  content: "\e01d";
}

.icon-search:before {
  content: "\e030";
}

.icon-search-solid:before {
  content: "\e003";
}

.icon-support-solid:before {
  content: "\e014";
}

.icon-popular:before {
  content: "\e130";
}

.icon-content-text:before {
  content: "\e013";
}

.icon-complete:before {
  content: "\e000";
}

.icon-content-image:before {
  content: "\e00e";
}

.icon-cal-large:before {
  content: "\e01a";
}

.icon-cal-alert:before {
  content: "\e010";
}

.icon-cancel:before {
  content: "\e01e";
}

.icon-cancel-outlines:before {
  content: "\e01f";
}

.icon-active-course:before {
  content: "\e020";
}

.icon-active-goal:before {
  content: "\e02a";
}

.icon-goals-in-course:before {
  content: "\e02d";
}

.icon-learn:before {
  content: "\e01b";
}

.icon-small-collapse:before {
  content: "\e02c";
}

.icon-small-expand:before {
  content: "\e02e";
}

.icon-user-crane:before {
  content: "\e02f";
}

.icon-icon-correct:before {
  content: "\e031";
}

.icon-icon-filter:before {
  content: "\e032";
}

.icon-icon-incorrect:before {
  content: "\e033";
}

.icon-icon-instructional:before {
  content: "\e034";
}

.icon-icon-all:before {
  content: "\e036";
}

.icon-learn-1:before {
  content: "\e037";
}

.icon-logout:before {
  content: "\e038";
}

.icon-help:before {
  content: "\e039";
}

.icon-security-icon:before {
  content: "\e03a";
}

.icon-terms-icon:before {
  content: "\e03b";
}

.icon-account-icon:before {
  content: "\e03c";
}

.icon-check-email:before {
  content: "\e03d";
}

.icon-check:before {
  content: "\e03e";
}

.icon-parent-child:before {
  content: "\e03f";
}

.icon-less-icon:before {
  content: "\e040";
}

.icon-more-icon:before {
  content: "\e041";
}

.icon-edit-icon:before {
  content: "\e042";
}

.icon-forward-icon:before {
  content: "\e044";
}

.icon-view-icon:before {
  content: "\e045";
}

.icon-add-assignment:before {
  content: "\e046";
}

.icon-close-large:before {
  content: "\e005";
}

.icon-clock:before {
  content: "\e047";
}

.icon-lightbulb:before {
  content: "\e048";
}

.icon-icon-skipped:before {
  content: "\e035";
}

.icon-info-icon:before {
  content: "\e049";
}

.icon-book:before {
  content: "\e04b";
}

.icon-back-icon:before {
  content: "\e043";
}

.icon-settings-solid:before {
  content: "\e04a";
}

.icon-circle-star:before {
  content: "\e04c";
}

.icon-open-book-20:before {
  content: "\e04d";
}

.icon-open-book-30:before {
  content: "\e04e";
}

.icon-ratings-star:before {
  content: "\e04f";
}

.icon-default-thumb:before {
  content: "\e050";
}

.icon-selected-thumb:before {
  content: "\e051";
}

.icon-warning:before {
  content: "\e140";
}

.icon-exit:before {
  content: "\e053"
}
