/*
 *  This file contains styles specific to the style guide
 */

@import "styleguide";
@import "highlightjs";

$header-background: $black-enough;
$header-text: $white;

@mixin breakpoint($point) {
  @if $point == mobile {
    @media screen and (max-width: 320px) { @content; }
  } @else if $point == tablet {
    @media screen and (max-width: 767px) and (min-width: 321px) { @content; }
  } @else if $point == desktop {
    @media screen and (min-width: 768px) and (max-width: 1023px) { @content; }
  } @else if $point == desktopXL {
    @media screen and (min-width: 1024px) { @content; }
  }
}

/*
*
* STYLE GUIDE FONTS (WE NEED TYPEKIT)
*
*/

@font-face {
  font-family: "museo-sans";
  src: font-url("MuseoSans_100.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: font-url("MuseoSans_300.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: font-url("MuseoSans_500.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: font-url("MuseoSans_700.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: font-url("MuseoSans_900.otf");
  font-weight: 900;
  font-style: normal;
}

/*
*
* STYLE GUIDE STYLE
*
*/

html,
body {
    margin: 0;
    padding: 0;

    background-color: $background-grey;

    h1 {
        @include breakpoint(mobile) { font-size: 28pt; }
    }
}

@mixin main {
    @include outer-container(1200px);

    margin: 2em auto;
}

.sg-header {
    @include clearfix;
    @include rainbow;

    height: 60px;
    background-color: $black-enough;
    color: $header-text;

    .wrapper {
        width: 100%;

        .container {
            @include outer-container(1200px);
            overflow: visible;
        }
    }

    .logo-header {
        margin-top: 10px;
        float: left;

        @include breakpoint(tablet) { display: none; }
        @include breakpoint(mobile) { display: none; }
        @include breakpoint(desktop) { @include span-columns(6); }
        @include breakpoint(desktopXL) { @include span-columns(6); }
    }

    h1 {
        @include main;

        font-weight: lighter;
        font-size: 1rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 60px;
        vertical-align: middle;

        @include breakpoint(tablet) { @include span-columns(24); }
        @include breakpoint(mobile) { @include span-columns(24); }
        @include breakpoint(desktop) {
          @include span-columns(18);

          margin: auto;
        }

        @include breakpoint(desktopXL) {
          @include span-columns(18);

          margin: auto;
        }

        a {
          text-decoration: none;
          color: $background-grey;
        }

    }
}

.sg {
    @include main;
    @include clearfix;
}

.sg-nav {
    @include pad(20px 10px);

    background-color: $white;
    height: 100%;
    margin-bottom: 1em;

    @include breakpoint(mobile) { @include span-columns(24); }
    @include breakpoint(tablet) { @include span-columns(24); }
    @include breakpoint(desktop) { @include span-columns(6); }
    @include breakpoint(desktopXL) { @include span-columns(6); }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 1rem;
    }

    li {
      line-height: 35px;
      @media screen and (max-width: 767px) {
        text-align: center;
      }

      ul {
        display: none;
      }
    }

    .active {
      + ul {
        display: block;
      }
    }

    a {
        @include action-link-font;

        &:hover {
            color: $default;
        }

        &.active {
            color: $default;
        }
    }
}


.sg-sections {
    @include breakpoint(mobile) { @include span-columns(24); }
    @include breakpoint(desktop) { @include span-columns(18); }
    @include breakpoint(desktopXL) { @include span-columns(18); }

    h1,
    h2 {
      &.sg {
        margin: 1rem 0;
      }
    }

    h4 {
      &.sg {
        margin: 0;
      }
    }

    > .sg-section {
        @include pad(20px 40px);
        display: none;
    }
}

.sg-section {
    @include fill-parent;
    @include clearfix;
    @include pad(default 0);

    background-color: $white;

    &.active {
      display: block;
    }
}

.sg-component {
    @include fill-parent;
    @include clearfix;
    @include pad(0 0 1.3em 0);

    p {
      margin: .5rem 0;
    }

    h4 {
      margin: 10px 0;
    }
}


/*
*
* Grid samples
* NEED TO THINK ABOUT THIS STUFF
*/

.columns1of4 {
  @include span-columns(6);
  height: 45px;
  background-color: $background-grey;
  /* margin-right: $gutter; */
}

.columns3of4 {
  @include span-columns(18);
  height: 45px;
  background-color: $background-grey;
}

.columns4of4 {
  @include span-columns(24);
  height: 45px;
  margin-bottom: $gutter;
  background-color: $background-grey;
}

.column-wrapper {
  @include span-columns(24);
  background-color: $background-grey;
  padding: 40px;

  .column-within {
    @include span-columns(24);
    background-color: $border-grey;
    padding: 20px;
    text-align: right;
  }
}

/*
*
* Forms, inputs, UI
*
*/

.dropdown {
  margin: 10px auto;
}

/*
*
* Typography samples
*
*/

.text-sample {
  margin: 20px 0;
}

.standard-body-font { @include standard-body-font; }
.headline-font { @include headline-font; }
.subhead-font { @include subhead-font; }
.head4-font { @include head4-font; }
.action-link-font { @include action-link-font; }
.std-link-font { @include std-link-font; }
.tab-font { @include tab-font; }
.pending-request-font { @include pending-request-font; }
.sidebar-font { @include sidebar-font; }
.result-paginator-font { @include result-paginator-font; }
.input-font { @include input-font; }
.input-label-font { @include input-label-font; }
.table-row-font { @include table-row-font; }

/*
*
* Colors
*
*/

.color-row {
  @include span-columns(24);
}

.color {
  text-align: center;

  @include breakpoint(mobile) { @include span-columns(24); }
  @include breakpoint(tablet) { @include span-columns(12); }
  @include breakpoint(desktop) { @include span-columns(6); }
  @include breakpoint(desktopXL) { @include span-columns(6); }

  .color-sample {
      $color-sample-height: 48px;
      height: $color-sample-height;
      line-height: $color-sample-height;
      font-size: 1.5em;

      &.light {
          color: $white;
      }
  }

  .color-name {
    margin: .5rem 0;
  }
}

/*
*
* Knewcons
*
*/

.knewcon-icon {
  float: left;
  height: rem(100);
  width: rem(150);
  padding: 5px;
  border: 0;
  color: $black-enough;

  .knewcon-sample {
    text-align: center;
    font-size: rem(24);
    line-height: rem(46);
  }

  .knewcon-code,
  .knewcon-name {
    padding-top: rem(4);
    text-align: center;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/*
*
* Code samples
*
*/

.snippet,
.sample {
  background: $background-grey;
  margin: 1rem 0;
  padding: .5rem;
  font-family: monospace;
  overflow-x: auto;
  clear: both;

  // .snippet can be outside of a sample
  .snippet {
    margin: 0;
    padding: 0;
  }

  code {
    padding: 0;
  }
}

/*
*
* UI Components
*
*/

.modal-body {
  padding: 80px 40px;
}

.loading-demo-menu {
  text-align: center;
  margin-bottom: 1rem;
}

.loading-demo-block {
  @include span-columns(1 of 4);
  @include shift(1);

  height: 160px;
  background-color: $orange;
  text-align: center;
  padding-top: 70px;
  color: $white;
}

.loading-demo-button-container {
  @include span-columns(1 of 4);

  button {
    width: 100%;
    margin: 0;
  }
}

.loading-demo {
  @include clearfix();
  margin-bottom: 1rem;
}

// Code snippets
/*
pre {
    margin: 20px 0;
    background: $black-enough;
    color: $white;
    border: 0;//1px solid #ccc;

    code {
        padding: 10px;
        background: none;
    }
}
*/
