/*
 *  This file contains styles specific to the style guide
 */

@import "application";

$header-background: $black-enough;
$header-text: $white;

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_300.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_500.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("../fonts/MuseoSans_700.otf");
  font-weight: 700;
  font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;

    background-color: $background-grey;
}

@mixin main {
    @include outer-container(800px);

    margin: 2em auto;
}

.sg-header {
    @include clearfix;
    @include rainbow;

    line-height: 100px;
    background-color: $black-enough;
    color: $header-text;

    h1 {
        @include main;
        @include headline-font;

        font-weight: lighter;
        //font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.sg {
    @include main;
    @include clearfix;
}

.sg-nav {
    @include span-columns(6);

    ul {
        list-style-type: none;
        margin: 0 0 0 1rem;
        padding: 0;
    }
}


.sg-sections {
    @include span-columns(18);

    > .sg-section {
      display: none;
    }
}

.sg-section {
    @include fill-parent;
    @include clearfix;
    @include pad;

    background-color: $white;

    &.active {
      display: block;
    }
}

// Colors
.color {
    @include span-columns(5);

    text-align: center;

    .color-sample {
        $color-sample-height: 48px;
        height: $color-sample-height;
        line-height: $color-sample-height;

        &.light {
            color: $white;
        }
    }
}
