/**
 * New Colors - Deprecate old colors below
 * after they are all replaced)
 */

/**
 * Primary
 */

$blue: #00b0c7;
$blue-tint: #edf8f9;
$blue-hover: hover-state($blue);
$blue-dark-hover: #0096af;

$orange: #ff8d07;
$orange-tint:       #ffefe7;
$orange-hover: hover-state($orange);

$teal: #04888d;
/**
 * Messaging
 */
$green: #6baf49;
$green-tint:        #f3fceb;

$red: #e9552e;

$yellow: #ffe02e;

$green-hover: hover-state($green);
$red-hover: hover-state($red);
$yellow-hover: hover-state($yellow);

$error-color:  $red;

/**
 * Shades of Grey
 */
$white: #fff;
$cloudy1: #eee;
$cloudy2: #ccc;
$rainy1: #999;
$rainy2: #666;
$stormy1: #444;
$stormy2: #111;

$background-foggy: #f7f7f7;

/**
 * Helpers
 */
@function hover-state($color) {
	@return lighten($color, 4%);
}

@function hover-state-darken($color) {
	@return darken($color, 6%);
}


/*
*
* White - greyscale - blacks
*
*/

/*$black-enough:      #454545;
$stormy1:      #545454;
$default:           #757575;

$ashen-grey:        #b5b5b5;
$border-grey:       #ccc;

$background-grey:   #f1f1f1;
$white:             #fff;   */

/*
    Secondary colors
*/

/*
$gold:              #f3b528;
$gold-tint:         #fef2d8;

$orange:            #ee5723;
$orange-tint:       #ffefe7;

$red:               #cf2e33;
$red-tint:          #cf2e33;

$pink:              #ee5ca0;
$pink-tint:         #fefef7;

$green:             #b7cb34;
$green-tint:        #f3fceb;

$green-success:     #4ea565;


$dark-blue:         #234166;
$blue:              #02b4d0;
$blue-tint:         #edf8f9;
*/

/*
    Knewton blues
*/

/*$blue:         #1abcc1;
darken($blue, 6%);:    #159fa3;
$blue-tint:    #cceef1;
*/

/*
    Text colors alias
*/

/*$body-text:         $stormy1;
$dimmed-text:       $rainy1;

$in-progress-text:  $blue;
$in-progress-bg:    $blue-tint;

$submitted-text:    $orange;
$submitted-bg:      $orange-tint;
$published-text:    $green;
$published-bg:      $green-tint;

$error-color:       $red;*/
