$black-enough: #454545;
$ashen-grey: #b5b5b5;
$grey-on-grey: #9a9a9a;
$light-grey: #ededed;
$very-light-grey: #f9fafc;
$white: #ffffff;
$default: #757575;

$lime: #7aac60;
$lime-tint: #f6fdf0;
$blueberry: #10a1d5;
$blueberry-tint: #e0f6fe;
$gerbera: #f05400;
$gerbera-tint: #ffefe7;
$sweet-orange: #f15815;
$navy: #2d4e6a;
$brick: #db524b;
$medium-turquoise: #1bacb6;
$light-turquoise: #8dd5da;

$body-text: $black-enough;
$dimmed-text: $ashen-grey;

$in-progress-text: $blueberry;
$in-progress-bg: $blueberry-tint;

$submitted-text: $gerbera;
$submitted-bg: $gerbera-tint;
$published-text: $lime;
$published-bg: $lime-tint;

$error-color: $brick;

// OLD
//$soul-of-cheney: #373737;
//$even-darker-grey: #575757;
//$darker-grey: #7b7b7b;
//$dark-grey: #999999;
//$medium-grey: #b7b7b7;
//$steak-sauce-grey: #a1a1a1;
//$light-grey: #e4e4e4;
//$very-light-grey: #f4f7f7;

//$partly-cloudy: #eaf2f2;
//$bubble-blue: #dee6e7;
//$miami-dolphins: #17bdc2;
//$bahamas-aqua: #38d3aa;
//$surgeon-scrubs: #728b8b;
//$leaf-green: #b8cc34;

//$goldenrod: #f6bf47;

//$editor-green: #58b957;
//$editor-black: #333333;
//$editor-blue: #3e8acc;
//$editor-orange: #f2ae43;
