/*
*
* White - greyscale - blacks
*
*/

$black-enough:      #454545;    /* Name in palette (NP): Header / default state */
$grey-on-grey:      #545454;    /* NP: text */
$default:           #757575;    /* NP: - */

$ashen-grey:        #b5b5b5;    /* NP: - */
$border-grey:       #ccc;       /* NP: Border / rules */

$background-grey:   #f1f1f1;    /* NP: Form / disabled */
$white:             #fff;       /* NP: White */

/*
    Secondary colors
*/

$gold:              #f3b528;    /* NP: Yellow */
$gold-tint:         #fef2d8;    /* NP: - */

$orange:            #ee5723;    /* NP: Orange */
$orange-tint:       #ffefe7;    /* NP: - */

$red:               #cf2e33;    /* NP: Red */
$red-tint:          #cf2e33;    /* NP: - */

$pink:              #ee5ca0;    /* NP: Pink */
$pink-tint:         #fefef7;    /* NP: - */

$green:             #b7cb34;    /* NP: Green / Yellow */
$green-tint:        #f3fceb;    /* NP: - */

$green-success:     #4ea565;

$dark-blue:         #234166;    /* NP: Dark blue */
$blue:              #02b4d0;    /* NP: Light blue */
$blue-tint:         #edf8f9;    /* NP: Light teal */


/*
    Knewton blues
*/

$turquoise:         #1abcc1;    /* NP: Clickable */
$dark-turquoise:    #159fa3;    /* NP: Hover */
$turquoise-tint:    #cceef1;    /* NP: Clickable light */

/*
    Text colors alias
*/

$body-text:         $black-enough;
$dimmed-text:       $ashen-grey;

$in-progress-text:  $blue;
$in-progress-bg:    $blue-tint;

$submitted-text:    $orange;
$submitted-bg:      $orange-tint;
$published-text:    $green;
$published-bg:      $green-tint;

$error-color:       $red;

/**
 * New Colors - Deprecate above old colors
 * after they are all replaced)
 */

/**
 * Helpers
 */
@function hover-state($color) {
	@return lighten($color, 3%);
}

@function hover-state-darken($color) {
	@return darken($color, 6%);
}

/**
 * Primary
 */

$blue: #00b0c7;
$orange: #ff8d07;
$blue-hover: hover-state($blue);
$orange-hover: hover-state($orange);

/**
 * Messaging
 */
$green: #6baf49;
$red: #e9552e;
$yellow: #ffe02e;
$green-hover: hover-state($green);
$red-hover: hover-state($red);
$yellow-hover: hover-state($yellow);

/**
 * Shades of Grey
 */
$cloudy1: #eee;
$cloudy2: #ccc;
$rainy1: #999;
$rainy2: #666;
$stormy1: #444;
$stormy2: #111;
