$visual-grid: false;
$visual-grid-color: #afa;

$max-width: rem(1190);
$grid-columns: 24;
$column: 40px;
$gutter: 10px;

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 3);

$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
