@import "neat/app/assets/stylesheets/neat-helpers";

$visual-grid: false;
$visual-grid-color: #afa;

$max-width: rem(1190);
$grid-columns: 24;
$column: 40;
$gutter: 10;

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 3);

//$widescreen-w: 1200px;
//$still-pretty-wide-w: 1100px;
//$wide-ish-w: 1066px;
//$normal-w: 1030px;
//$base-w: 990px;
//
//$widescreen: new-breakpoint(max-width $widescreen-w 28);
//$still-pretty-wide: new-breakpoint(max-width $still-pretty-wide-w 27);
//$wide-ish: new-breakpoint(max-width $wide-ish-w 26);
//$normal: new-breakpoint(max-width $normal-w 24);
