$museo-sans-font-stack: "museo-sans", sans-serif;

@mixin standard-body-font {
    // ./partials/_global.scss

    font: {
        family: $museo-sans-font-stack;
        size: rem(16);
        weight: 300;
    }
    line-height: 1.3;
    color: $grey-on-grey;
}

@mixin headline-font {
    // ./experience-info.scss
    // ./partials/_global.scss

    font: {
        size: rem(28);
        weight: 300;
    }
    line-height: 1.4em;
    color: $grey-on-grey;
}

@mixin subhead-font {
    font: {
        size: rem(21);
        weight: 300;
    }
    color: $grey-on-grey;
}

@mixin head4-font {
    font: {
        size: 18px;
        weight: 900;
    }
    line-height: 1.3em;
    color: $grey-on-grey;
}

@mixin tab-font {
    // ./partials/_list-table.scss
    // ./partials/_tabs.scss
    /* Same as action-link, header-tab-font, diff line-height */

    @include action-link-font;
    line-height: 30px;
}

@mixin pending-request-font {
    //./partials/_module-comments-table.scss

    font: {
        size: 12px;
        weight: 500;
    }
    letter-spacing: 0.025em;
    color: $orange;
}

@mixin action-link-font {

    font: {
        size: 12px;
        weight: 700;
    }
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $ashen-grey;
    line-height: 15px;

    &:hover {
        color: $default;
        text-decoration: none;
    }
}

@mixin std-link-font {
    // ./partials/_page-control-pagination.scss

    font: {
        size: 16px;
        weight: 300;
    }
    line-height: 18px;
    color: $turquoise;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin sidebar-font {
    // ./partials/_common.scss

    font: {
        size: 14px;
        weight: 500;
    }
    letter-spacing: 0.05em;
    color: $grey-on-grey;

    line-height: 21px;
}

@mixin result-paginator-font {
    // ./partials/_module-paginator.scss

    font: {
        size: 14px;
        weight: 500;
    }
    letter-spacing: 0.015em;
    color: $grey-on-grey;
}

@mixin input-font {
    // ./partials/_easydropdown.scss

    line-height: 30px;
    font: {
        size: 16px;
        weight: 500;
    }
    color: $ashen-grey;
}

@mixin dropdown-font {
    @include standard-body-font;

    line-height: 30px;
    font: {
        size: 14px;
        weight: 300;
    }
    color: $grey-on-grey;
}

@mixin input-label-font {
    // ./partials/_easydropdown.scss

    line-height: 30px;
    font: {
        size: 16px;
        weight: 700;
    }
    color: $grey-on-grey;
}

@mixin table-row-font {
    // ./partials/_module-usage-table.scss

    font: {
        size: 16px;
        weight: 300;
    }
    letter-spacing: 0.015em;
    line-height: 19px;
    color: $grey-on-grey;
}
