/* THIS IS BARELY USED IN FRACKEND  */

$roboto-font-stack: Roboto, sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-black: 700;

@mixin standard-body-font {
    // ./partials/_global.scss

    font: {
        family: $roboto-font-stack;
        size: $normal;
        weight: 400;
    }
    line-height: 1.2;
    color: $stormy1;
}

@mixin title-main {
    font: {
        size: 20px;
        weight: 500;
    }
    color: $stormy1;
}

@mixin subtitle-main {
    font: {
        size: $normal;
        weight: 400;
    }
    color: $rainy2;
}

@mixin tab-font {
    @include action-link-font;
    line-height: 30px;
}

@mixin pending-request-font {

    font: {
        size: $extra-small;
        weight: 500;
    }
    letter-spacing: 0.025em;
    color: $orange;
}

@mixin action-link-font {

    font: {
        family: $roboto-font-stack;
        size: $extra-small;
        weight: 700;
    }
    text-decoration: none;
    letter-spacing: 0.05em;
    color: $rainy1;
    line-height: 15px;

    &:hover {
        color: $rainy2;
        text-decoration: none;
    }
}

@mixin std-link-font {
    font: {
        size: $normal;
        weight: 300;
    }
    line-height: 18px;
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin sidebar-font {
    font: {
        size: $small;
        weight: 500;
    }
    letter-spacing: 0.05em;
    color: $rainy2;

    line-height: 21px;
}

@mixin result-paginator-font {
    font: {
        size: $small;
        weight: 500;
    }
    letter-spacing: 0.015em;
    color: $rainy2;
}

@mixin input-font {
    line-height: 30px;
    font: {
        size: $normal;
        weight: 500;
    }
    color: $rainy1;
}

@mixin dropdown-font {
    @include standard-body-font;

    line-height: 30px;
    font: {
        size: $small;
        weight: 300;
    }
    color: $rainy2;
}

@mixin input-label-font {
    line-height: 30px;
    font: {
        size: $normal;
        weight: 700;
    }
    color: $rainy2;
}

@mixin table-row-font {
    font: {
        size: $normal;
        weight: 300;
    }
    letter-spacing: 0.015em;
    line-height: 19px;
    color: $rainy2;
}
